{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="company-container">
    <span class="intro-text">
      Majoba S.A. es las unidad encargada de la venta general de materiales de construccion. <br />
      Con casa en central en Castelli, Bs.As. y Lezama, Bs.As, disponemos de un amplio catalogo de productos <br />
      y un equipo de profesionales a disposicion, estamos listos para atender tus necesidades.
      <span class="red-border"></span>
    </span>

    <div class="brands-container">
      <span class="title">En Majoba S.A. podes encontrar productos de las siguientes marcas y mas</span>
      <div class="brands-list"></div>
    </div>
    <div class="materials-container">
      <div class="materials-row">
        <div class="material-item">
          <img src="{% static 'images/majoba/materials1.jpg' %}" alt="" />
          <span>Aridos y ladrillos</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials2.jpg' %}" alt="" />
          <span>Tubos de alcantarilla</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials3.jpg' %}" alt="" />
          <span>Bloques y adoquines</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials4.jpg' %}" alt="" />
          <span>Vigas, lozetas y ladrillos de poliestileno</span>
        </div>
      </div>
      <div class="materials-row">
        <div class="material-item">
          <img src="{% static 'images/majoba/materials5.jpg' %}" alt="" />
          <span>Aislantes y membranas</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials6.jpg' %}" alt="" />
          <span>Pisos y revestimientos</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials7.jpg' %}" alt="" />
          <span>Griferia y sanitarios</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials8.jpg' %}" alt="" />
          <span>Aberturas</span>
        </div>
      </div>
      <div class="materials-row">
        <div class="material-item">
          <img src="{% static 'images/majoba/materials9.jpg' %}" alt="" />
          <span>Maderera</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials10.jpg' %}" alt="" />
          <span>Chapas, perfiles y tubos</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials11.jpg' %}" alt="" />
          <span>Hierros y mallas</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials12.jpg' %}" alt="" />
          <span>Placas de yeso y PVC</span>
        </div>
      </div>

      <div class="materials-row">
        <div class="material-item">
          <img src="{% static 'images/majoba/materials13.jpg' %}" alt="" />
          <span>Ferreteria y tornilleria</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials14.jpg' %}" alt="" />
          <span>Instalaciones electricas</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials15.jpg' %}" alt="" />
          <span>Pinturas, lacas y diluyentes</span>
        </div>
        <div class="material-item">
          <img src="{% static 'images/majoba/materials16.jpg' %}" alt="" />
          <span>Cañerias de agua, gas y cloacas</span>
        </div>
      </div>
    </div>
  </div>

  <style>
    div.company-container {
      margin: 2em 0;
      padding: 2em;
      background-color: #ffffff;
    }
    div.company-container span.intro-text {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      font-size: 1.2em;
      margin-bottom: 1.5em;
      font-weight: 500;
      padding: 0 10em;
    }
    span.red-border {
      display: block;
      width: 50%;
      height: 2px;
      background-color: #d81d26;
      margin: 1em auto 2em auto;
    }
    span.title {
      display: block;
      text-align: center;
      font-size: 1.5em;
      font-weight: 600;
      margin-bottom: 1.5em;
    }
    button.red-btn {
      padding: 0.8em 1.5em;
      font-size: 1.1em;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .materials-container {
      display: flex;
      flex-direction: column;
      gap: 2em;
    
      padding: 2em;
    }
    .materials-row {
      display: flex;
      flex-flow: row;
      justify-content: center;
      gap: 2em;
    }
    .material-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      text-align: center;
      font-weight: 500;
      font-size: 1.1em;
    }
    .material-item img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
  </style>
{% endblock %}
