{% extends 'base.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/admin_dashboard.css' %}" />
  <div class="admin-dashboard">
    <!-- Header del Dashboard Admin -->
    <div class="admin-header">
      <div class="admin-welcome">
        <span>Panel de Administración</span>
      </div>
    </div>
    {% if user_created %}
      <div style="" id="success-alert" class="alert-success">Usuario creado exitosamente</div>
    {% endif %}

    <div class="search-container">
      <span>Buscar Usuarios</span>
      <div class="search-section">
        <input type="text" id="search-input" placeholder="Nombre de usuario" />
      </div>

      <div id="search-results" class="search-results">
        <div id="search-results-list" class="search-results-list">
          <!-- Resultados de búsqueda aparecerán aquí -->
        </div>
        <div id="search-pagination" class="search-pagination">
          <!-- Controles de paginación aparecerán aquí -->
        </div>
      </div>
    </div>
    <div class="action-container">
      <a href="{% url 'user_create' %}" class="action-card">
        <img src="{% static 'images/user.svg' %}" alt="" style="width: 100px; height: 100px;" />
        <span>Crear Usuario</span>
      </a>
    </div>
  </div>
  <script src="{% static 'js/admin_dashboard.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
{% endblock %}
